package shared




func stylesMap() map[templ.CSSClass]struct{} {
	return map[templ.CSSClass]struct{}{
    }
}


func Styles() []templ.CSSClass {
	m := stylesMap()
	s := make([]templ.CSSClass, 0, len(m))
	for k := range m {
		s = append(s, k)
	}
	return s
}
